!project/modelCheckpoints
project/modelCheckpoints/*
!project/modelCheckpoints/classificationModel.h5
!project/modelCheckpoints/Weights-smallmodel2-315--0.00202.hdf5
!project/modelCheckpoints/featureExtractionModel.h5
